In [4]:
# importing pandas library
import pandas as pd

In [7]:
#reading csv file into a dataframe
df=pd.read_csv("data.csv")

In [15]:
#give number of rows and columns of dataframe
df.shape

(2, 17)

In [19]:
#gives top 5 rows if no parameter is passed and first n rows if n is passed
df.head()

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
0,9/5/2011,3:00:00 PM,9/5/2011,NaN,Social Studies Dept. Meeting,N,Y,Department meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [21]:
#gives last rows if no paramenters are passed, and last n rows if n is passed
df.tail(1)

,Start Date,Start Time,End Date,End Time,Event Title,All Day Event,No End Time,Event Description,Contact,Contact Email,Contact Phone,Location,Category,Mandatory,Registration,Maximum,Last Date To Register
1,9/5/2011,6:00:00 PM,9/5/2011,8:00:00 PM,Curriculum Meeting,N,N,Curriculum Meeting,Chris Gallagher,cgallagher@schoolwires.com,814-555-5179,High School,2,N,N,25,9/2/2011

In [27]:
#gives us names of all columns
df.columns

Index(['Start Date ', 'Start Time', 'End Date', 'End Time', 'Event Title ',
       'All Day Event', 'No End Time', 'Event Description', 'Contact ',
       'Contact Email', 'Contact Phone', 'Location', 'Category', 'Mandatory',
       'Registration', 'Maximum', 'Last Date To Register'],
      dtype='object')

In [29]:
#allows to access columns by name
df["End Date"]

0    9/5/2011
1    9/5/2011
Name: End Date, dtype: object

In [30]:
# returns multiple columns

In [38]:
df[['Start Date ','Event Title ']]

  Start Date                   Event Title
0    9/5/2011  Social Studies Dept. Meeting
1    9/5/2011            Curriculum Meeting