In [1]:
import pandas as pd
data=pd.read_csv("mode.csv")

In [2]:
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [5]:
mode_subjects=data["Subject"].mode()
mode_subjects

0    Chemistry
dtype: object

In [7]:
mode_data=data["Overall Marks"].mode()
mode_data

0    88
dtype: int64

In [8]:
mean_data=data["Overall Marks"].mean()
mean_data

68.21

In [9]:
median_data=data["Overall Marks"].median()
median_data

77.0

In [10]:
Q1=data["Overall Marks"].quantile(0.25)
Q2=data["Overall Marks"].quantile(0.5)
Q3=data["Overall Marks"].quantile(0.75)
Q4=data["Overall Marks"].quantile(1)

In [11]:
print(Q1)
print(Q2)
print(Q3)
print(Q4)

57.25
77.0
87.25
100.0

In [12]:
max_data=data["Overall Marks"].max()
min_data=data["Overall Marks"].min()
range_data= max_data -min_data

In [13]:
IQR=Q3-Q1
print(IQR)

30.0

In [16]:
difference=data["Overall Marks"] - mean_data

In [17]:
squared_difference= difference**2

In [18]:
variance=squared_difference.mean()

In [19]:
variance

687.1058999999997