In [5]:
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [6]:
#Loading data
data = pd.read_csv("datat.csv")

In [7]:
#Printing first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

Let's conduct a one sample t-test to check if the mean of the data is similar to the population mean. Assume population mean to be 80

In [20]:
from scipy.stats import ttest_1samp
t_statistic, p_value = ttest_1samp(data['Overall Marks'], 80)

In [21]:
p_value

2.0425103096534092e-05

As the p-value is less than 0.05, we can reject the null hypothesis(sample mean = population mean)

In [13]:
#Calculatin mean
data['Overall Marks'].mean()

68.21

We can also verify this test, by assuming population mean close to sample mean. Consider population mean = 68

In [18]:
t_statistic, p_value = ttest_1samp(data['Overall Marks'], 68.21)

In [19]:
p_value

1.0

As p > 0.05, we will accept the NULL hypothesis