In [1]:
#Importing libraries
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [2]:
#Loading datasets
data = pd.read_csv('Data for 2 sample test.csv')

In [3]:
#Printing first 5 rows
data.head()

   Hauz Khas  Defence Colony
0        180           220.0
1        100           200.0
2        120           240.0
3        220           180.0
4        160           160.0

In [4]:
#Calculating t-statistic and p-value using 2 sample t-test
t_statistic, p_value = ttest_ind(data['Hauz Khas'],data['Defence Colony'][0:14],equal_var = False)

In [5]:
print(p_value)

0.015153519382495245

As the p-value is less than 0.05, we can reject the null hypothesis.